TicketManagementApi/TicketManagement.Domain/bin/*
TicketManagementApi/TicketManagement.Domain/obj/*
TicketManagementApi/TicketManagementApi/bin/*
TicketManagementApi/TicketManagementApi/obj/*
TicketManagementApi/TicketManagementApi/.vs/*




